# Supabase Configuration
VITE_SUPABASE_URL=https://auvcdljidqotmwgeyzjs.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YOXlCvTaD0N5WyOS2c9FQA_xUIu_1A8

# API Configuration
VITE_API_URL=http://localhost:5000
